ul{list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:lightseagreen;
}
a:link, a:visited{ color:white;
                   background-color: lightseagreen;
                   display: inline;
                   text-decoration: none;
    
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}