<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Your Postal Rate</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
    <h2>Your Postal Rate:</h2>
    <div id="calRate">
        <%=weight%>
        <%=mailType%>
    </div>
</body>
</html>